body {
  margin: 0;
  padding: 0;
  background-image : url("images/bg_image_01.jpg");
}

#container{
  width: 1000px;
  max-width: 1280px;
  margin: auto;
}

header {
   position:relative;
   padding: 0px;
   height: 14rem;
   background: #333;
   box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
 }

  header h1{
    position: absolute;
    top: 2rem;
    left: 4rem;
    font-size: 45px;
    color: white;
 }
 header h2{
   padding: 0px;
   position: absolute;
   text-align:center;
   top: 9rem;
   width: 1000px;
   height:60px;
   line-height: 60px ;

   font-size: 35px;
   color: white;
   background-color: black;
   box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
}

nav {
  padding: 1rem 10rem;
  text-align:center;
  background: #333;
  font-size: 20px;
}
  nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  nav ul li{
    margin-right: 5rem;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }

main{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap：wrap;
  justify-content:space-between;
}

  section{
    flex: 5;
    padding: 3rem;
      background-image : url("images/bg_image_02.png");
  }

    article{
      min-height: 8rem;
      padding: 1rem;
      margin-bottom: 3rem;
      background: #FFF;
    }
    article ul{
      padding: 0px;
      display: flex;
      flex-direction: row;
      list-style: none;
      font-size: 25px;
    }

  aside{
    display: flex;
    padding: 1rem 4rem ;
    background: #DDD;
  }

footer {
  padding: 2rem 3rem;
  text-align: center;
  background: #333;
  color: white;
}
